#container {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 800px;
    margin: auto;
    border: 1px solid black;
}

#dialogue_buttons {
    display: flex;
    justify-content: center; 
    margin: 30px;   
}

/*.grid {
    border: 1px solid black;
}*/



.title_top {
    display: flex;
    justify-content: center;
}