#container{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 800px;
    margin: auto;
}


.grid{
    border: 1px solid black;
    width: 30px;
    height: 30px;
}


.title_top{
    display: flex;
    justify-content: center;
}